<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderLine">
      <h2 data-cy="orderLineDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.detail.title">Order Line</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderLine.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.lineNumber">Line Number</span></dt>
        <dd>
          <span>{{ orderLine.lineNumber }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.OrderLineType.' + orderLine.type }}">{{ orderLine.type }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.skuCode">Sku Code</span></dt>
        <dd>
          <span>{{ orderLine.skuCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.name">Name</span></dt>
        <dd>
          <span>{{ orderLine.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.description">Description</span></dt>
        <dd>
          <span>{{ orderLine.description }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.quantity">Quantity</span></dt>
        <dd>
          <span>{{ orderLine.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.unitPriceExclVat">Unit Price Excl Vat</span></dt>
        <dd>
          <span>{{ orderLine.unitPriceExclVat }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.unitPriceInclVat">Unit Price Incl Vat</span></dt>
        <dd>
          <span>{{ orderLine.unitPriceInclVat }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.vatPercentage">Vat Percentage</span></dt>
        <dd>
          <span>{{ orderLine.vatPercentage }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.vatPercentageLabel">Vat Percentage Label</span></dt>
        <dd>
          <span>{{ orderLine.vatPercentageLabel }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.discountPercentageLabel">Discount Percentage Label</span></dt>
        <dd>
          <span>{{ orderLine.discountPercentageLabel }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.totalLineAmount">Total Line Amount</span></dt>
        <dd>
          <span>{{ orderLine.totalLineAmount }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.url">Url</span></dt>
        <dd>
          <span>{{ orderLine.url }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-line', orderLine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
