<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-heading"
        data-cy="OrderCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.order.home.createOrEditLabel"
      >
        Create or edit a Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.orderNumber" for="field_orderNumber"
            >Order Number</label
          >
          <input
            type="text"
            class="form-control"
            name="orderNumber"
            id="field_orderNumber"
            data-cy="orderNumber"
            formControlName="orderNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.note" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.createDateTimeUtc" for="field_createDateTimeUtc"
            >Create Date Time Utc</label
          >
          <div class="d-flex">
            <input
              id="field_createDateTimeUtc"
              data-cy="createDateTimeUtc"
              type="datetime-local"
              class="form-control"
              name="createDateTimeUtc"
              formControlName="createDateTimeUtc"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.customerReference" for="field_customerReference"
            >Customer Reference</label
          >
          <input
            type="number"
            class="form-control"
            name="customerReference"
            id="field_customerReference"
            data-cy="customerReference"
            formControlName="customerReference"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.billingAddress" for="field_billingAddress"
            >Billing Address</label
          >
          <select
            class="form-control"
            id="field_billingAddress"
            data-cy="billingAddress"
            name="billingAddress"
            formControlName="billingAddress"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                addressOption.id === editForm.get('billingAddress')!.value?.id ? editForm.get('billingAddress')!.value : addressOption
              "
              *ngFor="let addressOption of billingAddressesCollection; trackBy: trackAddressById"
            >
              {{ addressOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.billingIdentity" for="field_billingIdentity"
            >Billing Identity</label
          >
          <select
            class="form-control"
            id="field_billingIdentity"
            data-cy="billingIdentity"
            name="billingIdentity"
            formControlName="billingIdentity"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                identityOption.id === editForm.get('billingIdentity')!.value?.id ? editForm.get('billingIdentity')!.value : identityOption
              "
              *ngFor="let identityOption of billingIdentitiesCollection; trackBy: trackIdentityById"
            >
              {{ identityOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.order.shippingAddress" for="field_shippingAddress"
            >Shipping Address</label
          >
          <select
            class="form-control"
            id="field_shippingAddress"
            data-cy="shippingAddress"
            name="shippingAddress"
            formControlName="shippingAddress"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                addressOption.id === editForm.get('shippingAddress')!.value?.id ? editForm.get('shippingAddress')!.value : addressOption
              "
              *ngFor="let addressOption of shippingAddressesCollection; trackBy: trackAddressById"
            >
              {{ addressOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
