<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-admin-groups-pages-heading"
        data-cy="AdminGroupsPagesCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.home.createOrEditLabel"
      >
        Create or edit a Admin Groups Pages
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.permission" for="field_permission"
            >Permission</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="permission"
            id="field_permission"
            data-cy="permission"
            formControlName="permission"
          />
          <div *ngIf="editForm.get('permission')!.invalid && (editForm.get('permission')!.dirty || editForm.get('permission')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('permission')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.pageId" for="field_pageId">Page Id</label>
          <select class="form-control" id="field_pageId" data-cy="pageId" name="pageId" formControlName="pageId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="adminPagesOption.id === editForm.get('pageId')!.value?.id ? editForm.get('pageId')!.value : adminPagesOption"
              *ngFor="let adminPagesOption of pageIdsCollection; trackBy: trackAdminPagesById"
            >
              {{ adminPagesOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.groupId" for="field_groupId"
            >Group Id</label
          >
          <select class="form-control" id="field_groupId" data-cy="groupId" name="groupId" formControlName="groupId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="adminGroupsOption.id === editForm.get('groupId')!.value?.id ? editForm.get('groupId')!.value : adminGroupsOption"
              *ngFor="let adminGroupsOption of adminGroupsSharedCollection; trackBy: trackAdminGroupsById"
            >
              {{ adminGroupsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
