<div>
  <h2 id="page-heading" data-cy="ConversionsHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.conversions.home.title">Conversions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.conversions.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conversions"
        [routerLink]="['/conversions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.conversions.home.createLabel"> Create a new Conversions </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conversions?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.conversions.home.notFound">No conversions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="conversions && conversions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalWithdrawals">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.totalWithdrawals">Total Withdrawals</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profitToFactor">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.profitToFactor">Profit To Factor</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="factored">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.factored">Factored</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date1">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.date1">Date 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currency.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.conversions.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conversions of conversions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/conversions', conversions.id, 'view']">{{ conversions.id }}</a>
          </td>
          <td>{{ conversions.amount }}</td>
          <td>{{ conversions.date | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + conversions.isActive }}">{{ conversions.isActive }}</td>
          <td>{{ conversions.totalWithdrawals }}</td>
          <td>{{ conversions.profitToFactor }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + conversions.factored }}">{{ conversions.factored }}</td>
          <td>{{ conversions.date1 | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="conversions.currency">
              <a [routerLink]="['/currencies', conversions.currency?.id, 'view']">{{ conversions.currency?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/conversions', conversions.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/conversions', conversions.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(conversions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="conversions && conversions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
