<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="adminGroupsPages">
      <h2 data-cy="adminGroupsPagesDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.detail.title">Admin Groups Pages</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ adminGroupsPages.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.permission">Permission</span></dt>
        <dd>
          <span>{{ adminGroupsPages.permission }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.pageId">Page Id</span></dt>
        <dd>
          <div *ngIf="adminGroupsPages.pageId">
            <a [routerLink]="['/admin-pages', adminGroupsPages.pageId?.id, 'view']">{{ adminGroupsPages.pageId?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminGroupsPages.groupId">Group Id</span></dt>
        <dd>
          <div *ngIf="adminGroupsPages.groupId">
            <a [routerLink]="['/admin-groups', adminGroupsPages.groupId?.id, 'view']">{{ adminGroupsPages.groupId?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/admin-groups-pages', adminGroupsPages.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
