<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-card-token-data-heading"
        data-cy="CardTokenDataCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.cardTokenData.home.createOrEditLabel"
      >
        Create or edit a Card Token Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.cardTokenData.token" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.cardTokenData.cardExpiryMonth" for="field_cardExpiryMonth"
            >Card Expiry Month</label
          >
          <input
            type="text"
            class="form-control"
            name="cardExpiryMonth"
            id="field_cardExpiryMonth"
            data-cy="cardExpiryMonth"
            formControlName="cardExpiryMonth"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.cardTokenData.cardExpiryYear" for="field_cardExpiryYear"
            >Card Expiry Year</label
          >
          <input
            type="text"
            class="form-control"
            name="cardExpiryYear"
            id="field_cardExpiryYear"
            data-cy="cardExpiryYear"
            formControlName="cardExpiryYear"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.cardTokenData.issuerReturnCode" for="field_issuerReturnCode"
            >Issuer Return Code</label
          >
          <input
            type="text"
            class="form-control"
            name="issuerReturnCode"
            id="field_issuerReturnCode"
            data-cy="issuerReturnCode"
            formControlName="issuerReturnCode"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.cardTokenData.truncatedCardNumber"
            for="field_truncatedCardNumber"
            >Truncated Card Number</label
          >
          <input
            type="text"
            class="form-control"
            name="truncatedCardNumber"
            id="field_truncatedCardNumber"
            data-cy="truncatedCardNumber"
            formControlName="truncatedCardNumber"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
