<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="adminImageSizes">
      <h2 data-cy="adminImageSizesDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.adminImageSizes.detail.title">Admin Image Sizes</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ adminImageSizes.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminImageSizes.fieldName">Field Name</span></dt>
        <dd>
          <span>{{ adminImageSizes.fieldName }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminImageSizes.value">Value</span></dt>
        <dd>
          <span>{{ adminImageSizes.value }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/admin-image-sizes', adminImageSizes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
