<div>
  <h2 id="page-heading" data-cy="HistoryHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.history.home.title">Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.history.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-history"
        [routerLink]="['/history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.history.home.createLabel"> Create a new History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="histories?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.history.home.notFound">No histories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="histories && histories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ip">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.ip">Ip</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bitcoinAddress">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.bitcoinAddress">Bitcoin Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="balanceBefore">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.balanceBefore">Balance Before</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="balanceAfter">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.balanceAfter">Balance After</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="historyAction.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.historyAction">History Action</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="orderId.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.orderId">Order Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="requestId.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.requestId">Request Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="siteUser.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.history.siteUser">Site User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of histories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/history', history.id, 'view']">{{ history.id }}</a>
          </td>
          <td>{{ history.date | formatMediumDatetime }}</td>
          <td>{{ history.ip }}</td>
          <td>{{ history.bitcoinAddress }}</td>
          <td>{{ history.balanceBefore }}</td>
          <td>{{ history.balanceAfter }}</td>
          <td>
            <div *ngIf="history.historyAction">
              <a [routerLink]="['/history-actions', history.historyAction?.id, 'view']">{{ history.historyAction?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="history.orderId">
              <a [routerLink]="['/orders', history.orderId?.id, 'view']">{{ history.orderId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="history.requestId">
              <a [routerLink]="['/requests', history.requestId?.id, 'view']">{{ history.requestId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="history.siteUser">
              <a [routerLink]="['/site-users', history.siteUser?.id, 'view']">{{ history.siteUser?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/history', history.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/history', history.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(history)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="histories && histories.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
