<div>
  <h2 id="page-heading" data-cy="SiteUsersHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.home.title">Site Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-site-users"
        [routerLink]="['/site-users/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.home.createLabel"> Create a new Site Users </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="siteUsers?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.home.notFound">No siteUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="siteUsers && siteUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pass">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.pass">Pass</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tel">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.tel">Tel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="countryCode">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.countryCode">Country Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="authyRequested">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.authyRequested">Authy Requested</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="verifiedAuthy">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.verifiedAuthy">Verified Authy</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="authyId">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.authyId">Authy Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="usingSms">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.usingSms">Using Sms</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dontAsk30Days">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.dontAsk30Days">Dont Ask 30 Days</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dontAskDate">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.dontAskDate">Dont Ask Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="confirmWithdrawalEmailBtc">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.confirmWithdrawalEmailBtc">Confirm Withdrawal Email Btc</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="confirmWithdrawal2faBtc">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.confirmWithdrawal2faBtc">Confirm Withdrawal 2 Fa Btc</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="confirmWithdrawal2faBank">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.confirmWithdrawal2faBank">Confirm Withdrawal 2 Fa Bank</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="confirmWithdrawalEmailBank">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.confirmWithdrawalEmailBank">Confirm Withdrawal Email Bank</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notifyDepositBtc">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.notifyDepositBtc">Notify Deposit Btc</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notifyDepositBank">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.notifyDepositBank">Notify Deposit Bank</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="noLogins">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.noLogins">No Logins</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notifyLogin">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.notifyLogin">Notify Login</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deactivated">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.deactivated">Deactivated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locked">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.locked">Locked</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="google2faCode">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.google2faCode">Google 2 Fa Code</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="verifiedGoogle">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.verifiedGoogle">Verified Google</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastLang">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.lastLang">Last Lang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notifyWithdrawBtc">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.notifyWithdrawBtc">Notify Withdraw Btc</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notifyWithdrawBank">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.notifyWithdrawBank">Notify Withdraw Bank</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trusted">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.trusted">Trusted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="feeSchedule.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.feeSchedule">Fee Schedule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="defaultCurrency.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsers.defaultCurrency">Default Currency</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let siteUsers of siteUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/site-users', siteUsers.id, 'view']">{{ siteUsers.id }}</a>
          </td>
          <td>{{ siteUsers.pass }}</td>
          <td>{{ siteUsers.firstName }}</td>
          <td>{{ siteUsers.lastName }}</td>
          <td>{{ siteUsers.email }}</td>
          <td>{{ siteUsers.date | formatMediumDatetime }}</td>
          <td>{{ siteUsers.tel }}</td>
          <td>{{ siteUsers.user }}</td>
          <td>{{ siteUsers.countryCode }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.authyRequested }}">{{ siteUsers.authyRequested }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.verifiedAuthy }}">{{ siteUsers.verifiedAuthy }}</td>
          <td>{{ siteUsers.authyId }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.usingSms }}">{{ siteUsers.usingSms }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.dontAsk30Days }}">{{ siteUsers.dontAsk30Days }}</td>
          <td>{{ siteUsers.dontAskDate | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.confirmWithdrawalEmailBtc }}">
            {{ siteUsers.confirmWithdrawalEmailBtc }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.confirmWithdrawal2faBtc }}">
            {{ siteUsers.confirmWithdrawal2faBtc }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.confirmWithdrawal2faBank }}">
            {{ siteUsers.confirmWithdrawal2faBank }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.confirmWithdrawalEmailBank }}">
            {{ siteUsers.confirmWithdrawalEmailBank }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.notifyDepositBtc }}">{{ siteUsers.notifyDepositBtc }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.notifyDepositBank }}">
            {{ siteUsers.notifyDepositBank }}
          </td>
          <td>{{ siteUsers.lastUpdate | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.noLogins }}">{{ siteUsers.noLogins }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.notifyLogin }}">{{ siteUsers.notifyLogin }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.deactivated }}">{{ siteUsers.deactivated }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.locked }}">{{ siteUsers.locked }}</td>
          <td>{{ siteUsers.google2faCode }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.verifiedGoogle }}">{{ siteUsers.verifiedGoogle }}</td>
          <td>{{ siteUsers.lastLang }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.notifyWithdrawBtc }}">
            {{ siteUsers.notifyWithdrawBtc }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.notifyWithdrawBank }}">
            {{ siteUsers.notifyWithdrawBank }}
          </td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + siteUsers.trusted }}">{{ siteUsers.trusted }}</td>
          <td>
            <div *ngIf="siteUsers.country">
              <a [routerLink]="['/iso-countries', siteUsers.country?.id, 'view']">{{ siteUsers.country?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="siteUsers.feeSchedule">
              <a [routerLink]="['/fee-schedule', siteUsers.feeSchedule?.id, 'view']">{{ siteUsers.feeSchedule?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="siteUsers.defaultCurrency">
              <a [routerLink]="['/currencies', siteUsers.defaultCurrency?.id, 'view']">{{ siteUsers.defaultCurrency?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/site-users', siteUsers.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/site-users', siteUsers.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(siteUsers)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="siteUsers && siteUsers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
