<div>
  <h2 id="page-heading" data-cy="PaymentStepHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.home.title">Payment Steps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-step"
        [routerLink]="['/payment-step/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.home.createLabel"> Create a new Payment Step </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentSteps?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.home.notFound">No paymentSteps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paymentSteps && paymentSteps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.reference">Reference</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.createDateTimeUtc">Create Date Time Utc</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.action">Action</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.status">Status</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.paymentStep.amountToCollect">Amount To Collect</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentStep of paymentSteps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-step', paymentStep.id, 'view']">{{ paymentStep.id }}</a>
          </td>
          <td>{{ paymentStep.reference }}</td>
          <td>{{ paymentStep.createDateTimeUtc | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.PaymentStepAction.' + paymentStep.action }}">{{ paymentStep.action }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.PaymentStatus.' + paymentStep.status }}">{{ paymentStep.status }}</td>
          <td>{{ paymentStep.amountToCollect }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-step', paymentStep.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-step', paymentStep.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentStep)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
