<div>
  <h2 id="page-heading" data-cy="ApiKeysHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.home.title">Api Keys</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-api-keys"
        [routerLink]="['/api-keys/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.home.createLabel"> Create a new Api Keys </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="apiKeys?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.home.notFound">No apiKeys found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="apiKeys && apiKeys.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="key">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.key">Key</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="secret">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.secret">Secret</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="view">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.view">View</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="orders">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.orders">Orders</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="withdraw">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.withdraw">Withdraw</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nonce">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.nonce">Nonce</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="siteUser.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.apiKeys.siteUser">Site User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apiKeys of apiKeys; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/api-keys', apiKeys.id, 'view']">{{ apiKeys.id }}</a>
          </td>
          <td>{{ apiKeys.key }}</td>
          <td>{{ apiKeys.secret }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + apiKeys.view }}">{{ apiKeys.view }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + apiKeys.orders }}">{{ apiKeys.orders }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.YesNo.' + apiKeys.withdraw }}">{{ apiKeys.withdraw }}</td>
          <td>{{ apiKeys.nonce }}</td>
          <td>
            <div *ngIf="apiKeys.siteUser">
              <a [routerLink]="['/site-users', apiKeys.siteUser?.id, 'view']">{{ apiKeys.siteUser?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/api-keys', apiKeys.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/api-keys', apiKeys.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(apiKeys)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="apiKeys && apiKeys.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
