<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="feeSchedule">
      <h2 data-cy="feeScheduleDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.detail.title">Fee Schedule</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ feeSchedule.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.fee">Fee</span></dt>
        <dd>
          <span>{{ feeSchedule.fee }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.fromUsd">From Usd</span></dt>
        <dd>
          <span>{{ feeSchedule.fromUsd }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.toUsd">To Usd</span></dt>
        <dd>
          <span>{{ feeSchedule.toUsd }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.order">Order</span></dt>
        <dd>
          <span>{{ feeSchedule.order }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.fee1">Fee 1</span></dt>
        <dd>
          <span>{{ feeSchedule.fee1 }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.feeSchedule.globalBtc">Global Btc</span></dt>
        <dd>
          <span>{{ feeSchedule.globalBtc }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fee-schedule', feeSchedule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
