<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transactionTypes">
      <h2 data-cy="transactionTypesDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.transactionTypes.detail.title">Transaction Types</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transactionTypes.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.transactionTypes.nameEn">Name En</span></dt>
        <dd>
          <span>{{ transactionTypes.nameEn }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.transactionTypes.nameEs">Name Es</span></dt>
        <dd>
          <span>{{ transactionTypes.nameEs }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.transactionTypes.nameRu">Name Ru</span></dt>
        <dd>
          <span>{{ transactionTypes.nameRu }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.transactionTypes.nameZh">Name Zh</span></dt>
        <dd>
          <span>{{ transactionTypes.nameZh }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction-types', transactionTypes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
