<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="adminGroups">
      <h2 data-cy="adminGroupsDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.adminGroups.detail.title">Admin Groups</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ adminGroups.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminGroups.name">Name</span></dt>
        <dd>
          <span>{{ adminGroups.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.adminGroups.order">Order</span></dt>
        <dd>
          <span>{{ adminGroups.order }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/admin-groups', adminGroups.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
