<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="link">
      <h2 data-cy="linkDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.link.detail.title">Link</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ link.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.link.url">Url</span></dt>
        <dd>
          <span>{{ link.url }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.link.type">Type</span></dt>
        <dd>
          <span>{{ link.type }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/link', link.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
