<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paymentMethods">
      <h2 data-cy="paymentMethodsDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.paymentMethods.detail.title">Payment Methods</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paymentMethods.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.paymentMethods.paymentMethod">Payment Method</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.PaymentMethod.' + paymentMethods.paymentMethod }}">{{
            paymentMethods.paymentMethod
          }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-methods', paymentMethods.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
