<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="isoCountries">
      <h2 data-cy="isoCountriesDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.isoCountries.detail.title">Iso Countries</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ isoCountries.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.isoCountries.locale">Locale</span></dt>
        <dd>
          <span>{{ isoCountries.locale }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.isoCountries.code">Code</span></dt>
        <dd>
          <span>{{ isoCountries.code }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.isoCountries.name">Name</span></dt>
        <dd>
          <span>{{ isoCountries.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.isoCountries.prefix">Prefix</span></dt>
        <dd>
          <span>{{ isoCountries.prefix }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/iso-countries', isoCountries.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
