<div>
  <h2 id="page-heading" data-cy="ChangeSettingsHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.home.title">Change Settings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-change-settings"
        [routerLink]="['/change-settings/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.home.createLabel"> Create a new Change Settings </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="changeSettings?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.home.notFound">No changeSettings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="changeSettings && changeSettings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="request">
            <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.request">Request</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="siteUser.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.changeSettings.siteUser">Site User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let changeSettings of changeSettings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/change-settings', changeSettings.id, 'view']">{{ changeSettings.id }}</a>
          </td>
          <td>
            <a
              *ngIf="changeSettings.request"
              (click)="openFile(changeSettings.request, changeSettings.requestContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="changeSettings.request">{{ changeSettings.requestContentType }}, {{ byteSize(changeSettings.request) }}</span>
          </td>
          <td>{{ changeSettings.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="changeSettings.siteUser">
              <a [routerLink]="['/site-users', changeSettings.siteUser?.id, 'view']">{{ changeSettings.siteUser?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/change-settings', changeSettings.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/change-settings', changeSettings.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(changeSettings)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="changeSettings && changeSettings.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
