<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-recurrence-criteria-heading"
        data-cy="RecurrenceCriteriaCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.recurrenceCriteria.home.createOrEditLabel"
      >
        Create or edit a Recurrence Criteria
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.recurrenceCriteria.recurrenceType" for="field_recurrenceType"
            >Recurrence Type</label
          >
          <select
            class="form-control"
            name="recurrenceType"
            formControlName="recurrenceType"
            id="field_recurrenceType"
            data-cy="recurrenceType"
          >
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.RecurrenceType.null' | translate }}</option>
            <option *ngFor="let recurrenceType of recurrenceTypeValues" [value]="recurrenceType">
              {{ 'jhipsterSampleApplicationApp.RecurrenceType.' + recurrenceType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.recurrenceCriteria.recurringExpiry"
            for="field_recurringExpiry"
            >Recurring Expiry</label
          >
          <div class="d-flex">
            <input
              id="field_recurringExpiry"
              data-cy="recurringExpiry"
              type="datetime-local"
              class="form-control"
              name="recurringExpiry"
              formControlName="recurringExpiry"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.recurrenceCriteria.recurringFrequency"
            for="field_recurringFrequency"
            >Recurring Frequency</label
          >
          <input
            type="number"
            class="form-control"
            name="recurringFrequency"
            id="field_recurringFrequency"
            data-cy="recurringFrequency"
            formControlName="recurringFrequency"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.recurrenceCriteria.instalments" for="field_instalments"
            >Instalments</label
          >
          <input
            type="number"
            class="form-control"
            name="instalments"
            id="field_instalments"
            data-cy="instalments"
            formControlName="instalments"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
