<div>
  <h2 id="page-heading" data-cy="PaymentHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.payment.home.title">Payments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.payment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment"
        [routerLink]="['/payment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.payment.home.createLabel"> Create a new Payment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="payments?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.payment.home.notFound">No payments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="payments && payments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.reference">Reference</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.createDateTimeUtc">Create Date Time Utc</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.status">Status</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.amountToCollect">Amount To Collect</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.surchargeAmount">Surcharge Amount</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.convertedTotalAmount">Converted Total Amount</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.convertedCurrency">Converted Currency</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.conversionRate">Conversion Rate</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.paidAmount">Paid Amount</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.lastErrorReport">Last Error Report</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.abuseReport">Abuse Report</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.attributes">Attributes</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.paymentMethods">Payment Methods</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.steps">Steps</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.refunds">Refunds</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.payment.captures">Captures</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment', payment.id, 'view']">{{ payment.id }}</a>
          </td>
          <td>{{ payment.reference }}</td>
          <td>{{ payment.createDateTimeUtc | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.PaymentStatus.' + payment.status }}">{{ payment.status }}</td>
          <td>{{ payment.amountToCollect }}</td>
          <td>{{ payment.surchargeAmount }}</td>
          <td>{{ payment.convertedTotalAmount }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.Currency.' + payment.convertedCurrency }}">{{ payment.convertedCurrency }}</td>
          <td>{{ payment.conversionRate }}</td>
          <td>{{ payment.paidAmount }}</td>
          <td>
            <div *ngIf="payment.lastErrorReport">
              <a [routerLink]="['/error-report', payment.lastErrorReport?.id, 'view']">{{ payment.lastErrorReport?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="payment.abuseReport">
              <a [routerLink]="['/abuse-report', payment.abuseReport?.id, 'view']">{{ payment.abuseReport?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="payment.attributes">
              <a [routerLink]="['/payment-attributes', payment.attributes?.id, 'view']">{{ payment.attributes?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="payment.paymentMethods">
              <a [routerLink]="['/payment-methods', payment.paymentMethods?.id, 'view']">{{ payment.paymentMethods?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="payment.steps">
              <a [routerLink]="['/payment-step', payment.steps?.id, 'view']">{{ payment.steps?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="payment.refunds">
              <a [routerLink]="['/refund', payment.refunds?.id, 'view']">{{ payment.refunds?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="payment.captures">
              <a [routerLink]="['/capture', payment.captures?.id, 'view']">{{ payment.captures?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment', payment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment', payment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(payment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
