<div>
  <h2 id="page-heading" data-cy="RefundStepHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.refundStep.home.title">Refund Steps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.refundStep.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-refund-step"
        [routerLink]="['/refund-step/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.refundStep.home.createLabel"> Create a new Refund Step </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="refundSteps?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.refundStep.home.notFound">No refundSteps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="refundSteps && refundSteps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.refundStep.reference">Reference</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.refundStep.createDateTimeUtc">Create Date Time Utc</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.refundStep.action">Action</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.refundStep.status">Status</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.refundStep.description">Description</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.refundStep.resultAttributes">Result Attributes</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let refundStep of refundSteps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/refund-step', refundStep.id, 'view']">{{ refundStep.id }}</a>
          </td>
          <td>{{ refundStep.reference }}</td>
          <td>{{ refundStep.createDateTimeUtc | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.RefundStepAction.' + refundStep.action }}">{{ refundStep.action }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.RefundStatus.' + refundStep.status }}">{{ refundStep.status }}</td>
          <td>{{ refundStep.description }}</td>
          <td>
            <div *ngIf="refundStep.resultAttributes">
              <a [routerLink]="['/result-attributes', refundStep.resultAttributes?.id, 'view']">{{ refundStep.resultAttributes?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/refund-step', refundStep.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/refund-step', refundStep.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(refundStep)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
