<div>
  <h2 id="page-heading" data-cy="SiteUsersBalancesHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.home.title">Site Users Balances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-site-users-balances"
        [routerLink]="['/site-users-balances/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.home.createLabel"> Create a new Site Users Balances </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="siteUsersBalances?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.home.notFound">No siteUsersBalances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="siteUsersBalances && siteUsersBalances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="balance">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.balance">Balance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="siteUser.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.siteUser">Site User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currency.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.siteUsersBalances.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let siteUsersBalances of siteUsersBalances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/site-users-balances', siteUsersBalances.id, 'view']">{{ siteUsersBalances.id }}</a>
          </td>
          <td>{{ siteUsersBalances.balance }}</td>
          <td>
            <div *ngIf="siteUsersBalances.siteUser">
              <a [routerLink]="['/site-users', siteUsersBalances.siteUser?.id, 'view']">{{ siteUsersBalances.siteUser?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="siteUsersBalances.currency">
              <a [routerLink]="['/currencies', siteUsersBalances.currency?.id, 'view']">{{ siteUsersBalances.currency?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/site-users-balances', siteUsersBalances.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/site-users-balances', siteUsersBalances.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(siteUsersBalances)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="siteUsersBalances && siteUsersBalances.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
