<div>
  <h2 id="page-heading" data-cy="OrderLineHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.orderLine.home.title">Order Lines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.orderLine.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-line"
        [routerLink]="['/order-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.orderLine.home.createLabel"> Create a new Order Line </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderLines?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.orderLine.home.notFound">No orderLines found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orderLines && orderLines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.lineNumber">Line Number</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.type">Type</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.skuCode">Sku Code</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.name">Name</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.description">Description</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.quantity">Quantity</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.unitPriceExclVat">Unit Price Excl Vat</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.unitPriceInclVat">Unit Price Incl Vat</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.vatPercentage">Vat Percentage</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.vatPercentageLabel">Vat Percentage Label</span></th>
          <th scope="col">
            <span jhiTranslate="jhipsterSampleApplicationApp.orderLine.discountPercentageLabel">Discount Percentage Label</span>
          </th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.totalLineAmount">Total Line Amount</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.orderLine.url">Url</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderLine of orderLines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order-line', orderLine.id, 'view']">{{ orderLine.id }}</a>
          </td>
          <td>{{ orderLine.lineNumber }}</td>
          <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.OrderLineType.' + orderLine.type }}">{{ orderLine.type }}</td>
          <td>{{ orderLine.skuCode }}</td>
          <td>{{ orderLine.name }}</td>
          <td>{{ orderLine.description }}</td>
          <td>{{ orderLine.quantity }}</td>
          <td>{{ orderLine.unitPriceExclVat }}</td>
          <td>{{ orderLine.unitPriceInclVat }}</td>
          <td>{{ orderLine.vatPercentage }}</td>
          <td>{{ orderLine.vatPercentageLabel }}</td>
          <td>{{ orderLine.discountPercentageLabel }}</td>
          <td>{{ orderLine.totalLineAmount }}</td>
          <td>{{ orderLine.url }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/order-line', orderLine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/order-line', orderLine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orderLine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
