<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-job-attributes-heading"
        data-cy="PaymentJobAttributesCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.paymentJobAttributes.home.createOrEditLabel"
      >
        Create or edit a Payment Job Attributes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.paymentJobAttributes.webhookUrl" for="field_webhookUrl"
            >Webhook Url</label
          >
          <input
            type="text"
            class="form-control"
            name="webhookUrl"
            id="field_webhookUrl"
            data-cy="webhookUrl"
            formControlName="webhookUrl"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.paymentJobAttributes.googleAnalyticsClientId"
            for="field_googleAnalyticsClientId"
            >Google Analytics Client Id</label
          >
          <input
            type="text"
            class="form-control"
            name="googleAnalyticsClientId"
            id="field_googleAnalyticsClientId"
            data-cy="googleAnalyticsClientId"
            formControlName="googleAnalyticsClientId"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.paymentJobAttributes.allowedParentFrameDomains"
            for="field_allowedParentFrameDomains"
            >Allowed Parent Frame Domains</label
          >
          <input
            type="text"
            class="form-control"
            name="allowedParentFrameDomains"
            id="field_allowedParentFrameDomains"
            data-cy="allowedParentFrameDomains"
            formControlName="allowedParentFrameDomains"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.paymentJobAttributes.paymentPageReference"
            for="field_paymentPageReference"
            >Payment Page Reference</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentPageReference"
            id="field_paymentPageReference"
            data-cy="paymentPageReference"
            formControlName="paymentPageReference"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
