<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-refund-step-heading"
        data-cy="RefundStepCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.refundStep.home.createOrEditLabel"
      >
        Create or edit a Refund Step
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.refundStep.reference" for="field_reference">Reference</label>
          <input type="number" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.refundStep.createDateTimeUtc" for="field_createDateTimeUtc"
            >Create Date Time Utc</label
          >
          <div class="d-flex">
            <input
              id="field_createDateTimeUtc"
              data-cy="createDateTimeUtc"
              type="datetime-local"
              class="form-control"
              name="createDateTimeUtc"
              formControlName="createDateTimeUtc"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.refundStep.action" for="field_action">Action</label>
          <select class="form-control" name="action" formControlName="action" id="field_action" data-cy="action">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.RefundStepAction.null' | translate }}</option>
            <option *ngFor="let refundStepAction of refundStepActionValues" [value]="refundStepAction">
              {{ 'jhipsterSampleApplicationApp.RefundStepAction.' + refundStepAction | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.refundStep.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.RefundStatus.null' | translate }}</option>
            <option *ngFor="let refundStatus of refundStatusValues" [value]="refundStatus">
              {{ 'jhipsterSampleApplicationApp.RefundStatus.' + refundStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.refundStep.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.refundStep.resultAttributes" for="field_resultAttributes"
            >Result Attributes</label
          >
          <select
            class="form-control"
            id="field_resultAttributes"
            data-cy="resultAttributes"
            name="resultAttributes"
            formControlName="resultAttributes"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                resultAttributesOption.id === editForm.get('resultAttributes')!.value?.id
                  ? editForm.get('resultAttributes')!.value
                  : resultAttributesOption
              "
              *ngFor="let resultAttributesOption of resultAttributesCollection; trackBy: trackResultAttributesById"
            >
              {{ resultAttributesOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
