<div>
  <h2 id="page-heading" data-cy="AdminCronHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.home.title">Admin Crons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-admin-cron"
        [routerLink]="['/admin-cron/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.home.createLabel"> Create a new Admin Cron </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adminCrons?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.home.notFound">No adminCrons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="adminCrons && adminCrons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="day">
            <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.day">Day</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="month">
            <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.month">Month</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="year">
            <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.year">Year</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sendCondition">
            <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.sendCondition">Send Condition</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="controlId.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.controlId">Control Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="methodId.id">
            <span jhiTranslate="jhipsterSampleApplicationApp.adminCron.methodId">Method Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adminCron of adminCrons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin-cron', adminCron.id, 'view']">{{ adminCron.id }}</a>
          </td>
          <td>{{ adminCron.day }}</td>
          <td>{{ adminCron.month }}</td>
          <td>{{ adminCron.year }}</td>
          <td>{{ adminCron.sendCondition }}</td>
          <td>
            <div *ngIf="adminCron.controlId">
              <a [routerLink]="['/admin-controls', adminCron.controlId?.id, 'view']">{{ adminCron.controlId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="adminCron.methodId">
              <a [routerLink]="['/admin-controls-methods', adminCron.methodId?.id, 'view']">{{ adminCron.methodId?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/admin-cron', adminCron.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/admin-cron', adminCron.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(adminCron)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="adminCrons && adminCrons.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
