<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fees">
      <h2 data-cy="feesDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.fees.detail.title">Fees</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fees.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.fees.fee">Fee</span></dt>
        <dd>
          <span>{{ fees.fee }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.fees.date">Date</span></dt>
        <dd>
          <span>{{ fees.date | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fees', fees.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
